{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block content %}

	<h1>This Blog Is Developed By:-</h1>
	

		<strong>Hello I am Vikas and and i am currently pursuing my bachelors degree in Information Technology at Indian Institute Of Information Technology,Vadodara
	</strong>
	
		<h1>For More Information You can text me here :-</h1>
		<form class="site-form" method="POST" action="{% url 'feedback:about'%}">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="Submit">
		</form>
		
	
	<div class="about">
		<h1>You can also find me here:-</h1>
	<a href="https://github.com/vikassharma1999"><i class="fab fa-github"></i></a>
	<a href="https://www.linkedin.com/in/vikas-sharma-04a11a156/"><i class="fab fa-linkedin-in"></i></a>
	<a href="https://www.facebook.com/profile.php?id=100005685854754"><i class="fab fa-facebook-square"></i></a>
	<a href="https://twitter.com/Vikassh89501557"><i class="fab fa-twitter-square"></i></a>
</div>


{% endblock %}
